body {
    background: white;
    color: darkblue;
    font-family: Arial;
}

.splide {
    position: relative;
    overflow: hidden;
    background: black;
    &__pagination {
        z-index: 3;
    }
    &__slide{
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.clouds {
    position: relative;

    pointer-events: none;
    opacity: 1;
    z-index: 2;
}

.clouds img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animateClouds calc(2s * var(--i)) linear infinite;
}

@keyframes animateClouds {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    40%, 50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.4) translateX(-200px);
    }
}

.particles-js-canvas-el {
    position: absolute;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
}
