/* Core variables */
@import 'base/vars';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */
@import 'vendors/normalize';
@import 'vendors/splide';

/* Components */
@import 'components/slides';
@import 'components/menu';
@import 'components/blocks';

/* Browser specific styles */
@import 'dirty/hacks';

.header {
  border-bottom: 1px solid rgba(255,255,255,0.5);
  margin-bottom: -10px;
  position: relative;
}
